# =========================

# Dataset

# =========================

dataset/
data/
datasets/
*.zip
*.tar
*.tar.gz

# =========================

# Trained Models

# =========================

models/
checkpoints/
*.h5
*.keras
*.pb
*.ckpt

# =========================

# Python Cache

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints

# =========================

# Virtual Environment

# =========================

venv/
env/
.venv/

# =========================

# Logs

# =========================

logs/
*.log

# =========================

# System Files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE Files

# =========================

.vscode/
.idea/
